.status-text
{color: #565656;
    font: 200 15px/10px "Kibfonts";
    font-weight: bold;
    margin: 15px;
    position: relative;}

    .confirm-title {
        color: #565656;
        font: 700 18px "Kibfonts";
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    .total-item {
        color: #0d2c6c;
        font-size: 16px;
    }